

.theme {

    -fx-background-color:lightGreen;
    -fx-font-size: 14px;
}

.nodeTheme{
	-fx-background-color:black;
    -fx-font-size: 14px;
}
.label {
	-fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-alignment: center ;
    
}
.node-panel{
	 -fx-background-color: green;
}
