

.theme {

    -fx-background-color:white;
    -fx-font-size: 14px;
}

.label {
	-fx-background-color: #F7F774;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-alignment: center ;
    
}
.node-panel{
	/* there is a list of colors for nodes in the class NodeWriter */
	 -fx-background-color: #99DF0C;
}
