output = selfTest.graphml
classpath = ./build/classes/
exclude = java*.**
exclude = scala*.**
exclude = org.scalatest.**
part = {
    de.schauderhaft.*.(*).**
}
mainVsTest = {
    Test de.schauderhaft.*.example.**
	de.schauderhaft.**(Test)
	main **
}
lib = {
    check de.schauderhaft.degraph.(check).**
    check de.schauderhaft.degraph.(hamcrest).**
    app  de.schauderhaft.degraph.app.**
    core  de.schauderhaft.degraph.**
    *.(*).**
}
internalExternal = {
   internal de.schauderhaft.**
   external **
}
