---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.metaContent}}">
    <meta name="author" content="Jens Schauder">

	{% include header.html %}
		
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.jqzoom.css" >
    <style type="text/css">

      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
	  
	  
    .flowBreak
	{
		clear:both
	}
	
	.zoomable img {max-width:none}
    </style>
    
  </head>
  <body>
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a href="index.html">Degraph Home</a></li>
              <li><a href="documentation.html">Manual</a></li>
              <li><a href="download.html">Download</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
{{content}}
        </div>
      </div>
  </div>
  
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'>
</script>  

<script type='text/javascript' src='javascripts/jquery.jqzoom-core-pack.js'>
</script> 

<script type='text/javascript' >
$(document).ready(function(){  
    $('.zoomable').jqzoom();  
}); 
</script>
  </body>

</html>